<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

    <div th:replace="fragments/header :: header"/>

    <div class="container-fluid">
        <h1>Contact Type</h1>
        <br/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3>Contact Type List</h3>
                <a href="addContactType">Add New Contact Type</a>
                <div th:if="${errorMessage}" th:utext="${errorMessage}"
                     style="color:red;font-style:italic;">
                    ...
                </div>  
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each ="type : ${contactTypes}">
                            <td th:utext="${type.id}"></td>
                            <td>
                                <a th:utext="${type.name}"
                                   th:href="@{'viewContactType?id=' +${type.id} }"></a>
                            </td>
                            <td th:utext="${type.createdBy}"></td>
                            <td th:utext="${type.createdDate}"></td>
                            <td th:utext="${type.updatedBy}"></td>
                            <td th:utext="${type.updatedDate}"></td>
                            <td>
                                <a th:utext="Remove" 
                                   th:href="@{'removeContactType?id=' +${type.id} }"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>