<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

    <div th:replace="fragments/header :: header"/>

    <div class="container-fluid">
        <h1>Unit of Measurement</h1>
        <br/>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3>Unit of Measurement List</h3>
                <a href="addUom">Add New Unit of Measurement</a>
                <div th:if="${errorMessage}" th:utext="${errorMessage}"
                     style="color:red;font-style:italic;">
                    ...
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Created By</th>
                            <th>Created Date</th>
                            <th>Updated By</th>
                            <th>Updated Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each ="uom : ${uoms}">
                            <td th:utext="${uom.id}"></td>
                            <td>
                                <a th:utext="${uom.uomName}"
                                   th:href="@{'viewUom?id=' +${uom.id} }"></a>
                            </td>
                            <td th:utext="${uom.uomDesc}"></td>
                            <td th:utext="${uom.createdBy}"></td>
                            <td th:utext="${uom.createdDate}"></td>
                            <td th:utext="${uom.updatedBy}"></td>
                            <td th:utext="${uom.updatedDate}"></td>
                            <td>
                                <a th:utext="Remove" 
                                   th:href="@{'removeUom?id=' +${uom.id} }"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <div th:replace="fragments/footer :: footer"/>

</body>
</html>